/*===== Font awsome CDN =====*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*===================================== ABOUT_2ND_SECTION =================================*/
#about-second-section {
    padding-top: 100px;
}
/* ABOUT_2ND_SECTION */
.about-img-1 img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 50%;
}
.about-first-section-title {
    margin: 50px 0px 0px 0px;
    color: black;
}
.about_para {
    line-height: 24px;
    color: black;
}
.about_para1 {
    margin: 20px 0px 0px 0px;
}
.about-green-check {
    margin: 20px 0px 0px 15px;
}
.fa-check span {
    margin: 0px 0px 0px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #484848;
}
.about-green-check .fa-check {
    margin-top: 15px;
}
.view-details-btn {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0 20px;
    cursor: pointer;
    margin-top: 35px;
    line-height: 36px;
}

/* COUNTER UP ANIMATION */
.box {
    width: 100%;
    padding-top: 30px;
}
.counter-box {
    background: lightgrey;
    text-align: center;
    padding: 15px;
    height: 230px;
}

@media all and (max-width: 1200px) {
    .counter-box {
        background: lightgrey;
        text-align: center;
        padding: 15px;
        height: 290px;
    }
}
@media all and (max-width: 992px) {
    .counter-wrapper {
        gap: 10px;
    }
    .counter-box {
        background: lightgrey;
        text-align: center;
        padding: 15px;
        height: 190px;
    }
}

.about_svg_img_wrapper_1,
.about_svg_img_wrapper_2,
.about_svg_img_wrapper_3,
.about_svg_img_wrapper_4 {
    padding-bottom: 10px;
}
.about_svg_1,
.about_svg_2,
.about_svg_3,
.about_svg_4 {
    height: 50px;
    width: 50px;
}
.about_box_para {
    color: black;
}
/* END OF COUNTER UP ANIMATION */
/*======================================= END_OF_ABOUT_2ND_SECTION ======================*/
/*======================================= ABOUT_3RD_SECTION =============================*/
.googlemaps-section {
    padding-top: 50px;
}
.our-location-wrapper {
    width: 100%;
    position: relative;
}
.our-location h1, p {
    color: white;
}
.our-location h1 {
    font-size: 40px;
    font-weight: 600;
}
.our-location p {
    font-size: 16px;
    font-weight: 400;
}
.our-location {
    background-color: rgba(27, 41, 69, 0.95);
    color: black;
    box-shadow: 15px 15px 20px;
    width: 380px;
    text-align: center;
    padding: 60px;
    position: relative;
    /* top: -600px;
    left: 100px; */
    position: absolute;
    top: 200px;
    left: 100px;
    margin-bottom: -400px;
}
@media all and (max-width: 992px) {
    .our-location {
        background-color: rgba(27, 41, 69, 0.95);
        box-shadow: 0px 0px 0px;
        text-align: center;
        padding: 60px;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        margin-bottom: 10px;
    }
}
/*======================================= END_OF_ABOUT_3RD_SECTION ======================*/
